/* ---------------------------------------- Reset ---------------------------------------- */    
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* ---------------------------------------- Root ---------------------------------------- */
:root {
  --bgColor-100: #53b2d507;
  --bgColor-200: #53b2d5bf;
  --bgColor-300: #ffffff42;
  --bgColor-400: #ffffff8c;

  --textColor-100: #f00;
  --textColor-200: #000;
  --textColor-300: #fff;
  --textColor-400: #53b2d5;
  --textColor-500: #53b2d5bf;
  --textColor-600: #686868;

  --border-100: 1px solid #d1d5db4d;
  --borderTop-100: .1em solid #f00;
  --borderTop-200: .1em solid #000;
  --borderTop-300: .1em solid #53b2d5;

  --transitionAll: all .3s ease-in-out;
}

/* ---------------------------------------- Body ---------------------------------------- */
body {
  margin: .5rem;
  font-family: sans-serif;
  scroll-behavior: smooth;
  background-color: var(--bgColor-100);
}


/* ---------------------------------------- Header ---------------------------------------- */    
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header__logo {
  color: var(--textColor-100);
  font-size: 1.5rem;
  font-weight: 700;
}

/* ---------------------------------------- Navigation ---------------------------------------- */    
.navigation {
  width: 40%;
  transform: translateX(0);
  transition: var(--transitionAll);
}
.navigation__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navigation__menu--link a {
  padding: 0 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--textColor-300);
  font-weight: 700;
  position: relative;
}
.navigation__menu--link a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: .5rem;
  bottom: .1rem;
  left: 0;
  z-index: -1;
  background-color: var(--bgColor-200);
  transition: var(--transitionAll);
}
.navigation__menu--link a:hover::before {
  bottom: 0;
  height: 100%;
}

/* ---------------------------------------- Section Hero ---------------------------------------- */    
.hero {
  width: 50%;
  height: 100vh;
  opacity: 0;
  animation: moveDown 2s ease-in-out forwards;
}
.hero__title {
  color: var(--textColor-100);
  font-size: 9rem;
}
.hero__title span {
  color: var(--textColor-500);
  font-size: 10rem;
}
.hero__subhead {
  text-align: justify;
  font-size: 1.4rem;
  margin: 0 4rem 0 1rem;
  color: var(--textColor-600);
}
.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  z-index: -1;
  background: url('../img/hero-image.jpg');
  background-size: cover;
  animation: imgDown 3s forwards;
}

/* ---------------------------------------- Section item ---------------------------------------- */    
.section__item {
  height: 100vh;
  display: flex;
  align-items: center;
  border-top: var(--borderTop-100);
}
.section__item:nth-child(2) {
  border-top: var(--borderTop-200);
}
.section__item:nth-child(3) {
  border-top: var(--borderTop-300);
}
.section__item.left {
  display: flex;
  flex-direction: row-reverse;
}
.section__item img {
  width: 50%;
  height: 50%;
  border-radius: 2px;
  box-shadow: 2px 2px 10px #000;
}
.section__content {
  padding: 5rem;
}
.section__title {
  text-align: center;
  font-size: 4rem;
  color: var(--textColor-100);
}
.section__title span {
  color: var(--textColor-500);
  cursor: progress;
}
.section__paragraph {
  text-align: justify;
  font-size: 1.5rem;
  color: var(--textColor-500);
}
.section__paragraph::first-letter {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--textColor-100);
}

/* ---------------------------------------- Footer ---------------------------------------- */    
.footer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-color: var(--bgColor-100);
  background-image: url('../img/hero-image.jpg');
}

/* ---------------------------------------- Footer form ---------------------------------------- */
.footer__form {
  width: 400px;
  height: 400px;
  font-size: 1.5rem;
  border-radius: 0.5em;
  border: var(--border-100);
  background-color: var(--bgColor-300);
  backdrop-filter: blur(0px) saturate(93%);
}

/* ---------------------------------------- Form ---------------------------------------- */
.form {
  color: var(--textColor-100);
}

/* ---------------------------------------- Input ---------------------------------------- */
input {
  width: 100%;
  height: 2rem;
  border: 0;
  color: var(--bgColor-100);
  font-size: 1.2rem;
  border-radius: .5em;
  background-color: var(--bgColor-300);
}

/* ---------------------------------------- Placeholder ---------------------------------------- */
::placeholder {
  color: var(--textColor-300);
}

/* ---------------------------------------- Button ---------------------------------------- */
.btn {
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  border-radius: 0.5em;
  background-color: var(--textColor-100);
  transition: var(--transitionAll);
}
.btn:hover {
  background-color: var(--bgColor-100);
}
.btn a {
  color: var(--textColor-300);
}

/* ---------------------------------------- Responsive ---------------------------------------- */    

@media (max-width: 990px) {
  .navigation {
    display: none;
  }
  .hero {
    width: 90%;
  }
  .hero-img {
    width: 100%;
    background: url('../assets/img/hero-image-mobile.jpg');
    background-size: auto;
  }
  .hero__title {
    padding-top: 15rem;
    font-size: 5rem;
  }
  .hero__title span {
    font-size: 5rem;
  }
  .hero__subhead {
    font-size: 1.4rem;
  }
  .section__content {
    padding: 2rem;
  }
  .section__title {
    font-size: 2rem;
  }
  .section__item img {
    display: none;
  }
  .footer {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer__form {
    width: 90%;
  }
}

/* ---------------------------------------- Keyframes ---------------------------------------- */    
@keyframes imgDown {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}